/* Color Theme Swatches in Hex */
$primary-color: #127369;
$second-color: #10403B;
$light-color: #8AA6A3;
$nuance-1: #4C5958;
$nuance-2: #BFBFBF;

/* Color Theme Swatches in RGBA */
$primary-color-rgba: rgba(18,114,105, 1);
$second-color-rgba: rgba(15,63,58, 1);
$light-rgba: rgba(137,165,162, 1);
$nuance-1-rgba: rgba(75,89,87, 1);
$nuance-2-rgba: rgba(191,191,191, 1);