@use 'reset';
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-size: 16px;
  font-family: "Poppins",sans-serif;
}

.container {
  width: 98%;
  margin: auto;
}

/* Color Theme Swatches in Hex */
$Suprematistisch-for-SCHÖN-1-hex: #F24472;
$Suprematistisch-for-SCHÖN-2-hex: #034C8C;
$Suprematistisch-for-SCHÖN-3-hex: #048ABF;
$Suprematistisch-for-SCHÖN-4-hex: #04B2D9;
$Suprematistisch-for-SCHÖN-5-hex: #F27457;

/* Color Theme Swatches in RGBA */
$Suprematistisch-for-SCHÖN-1-rgba: rgba(242,67,114, 1);
$Suprematistisch-for-SCHÖN-2-rgba: rgba(2,76,140, 1);
$Suprematistisch-for-SCHÖN-3-rgba: rgba(3,138,191, 1);
$Suprematistisch-for-SCHÖN-4-rgba: rgba(4,177,216, 1);
$Suprematistisch-for-SCHÖN-5-rgba: rgba(242,115,87, 1);

