nav {
  top: 0;
  height: 50px;
  min-height: 50px;
  max-height: 50px;
  overflow-y: hidden;
  border-bottom: 1px solid rgba(213, 203, 203, 0.5);

  .nav-container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .logo {
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 60%;
  }

  img {
    height: 50px;
    min-height: 50px;
    max-height: 50px;
    overflow-y: hidden;
    width: 60px;
  }

  span {
    color: rgba(0, 0, 0, 0.2);
    font-style: italic;
  }

  .log-out{
    width: 40%;
    display: flex;
    justify-content: flex-end;
    margin: 10px;
  }
}
