nav {
    //   background: red;
    top: 0;
    height: 50px;
    border-bottom: 1px solid rgba(213, 203, 203, 0.5);
    
    .container {
      display: flex;
      align-items: center;
  
      // Quand il y aura d'autres éléments activer cette règle et désactiver center
      // justify-content: space-between;
      justify-content: center;
      height: 100%;
    }
  
    .logo {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  
    img {
      height: 50px;
      width: 60px;
    }
  
    span {
      color: rgba(0,0,0,.2);
      font-style: italic;
    }
  
    
  }